* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    font-size: large;
}

body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 800px;
}

header,
footer {
    background-color: #333;
    color: #fff;
    width: 100%;
    text-align: center;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
    height: fit-content;
    margin: 20px;
}

button:hover {
    background-color: #555;
}

input {
    padding: 15px;
    border-radius: 30px;
    border: 1px solid #333;
    margin: 10px;
    width: 300px;
}

p {
    font-size: larger;
    font-weight: bold;
}