* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background: black;
    color: white;
    padding: 20px;
    text-align: center;

    & h1 {
        font-size: 25px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
}

main {
    width: 100%;
    height: 38vw;
    padding: 20px;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & form {
        margin-top: 20px;
        background: black;
        width: 450px;
        border-radius: 5px;
        padding: 20px;  
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    & input{
        width: 350px;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
    }

    & input[type="submit"] {
        background: red;
        color: black;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        width: 375px;
    }

}

footer {
    width: 100%;
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
}